.container {
  max-width: 800px;
  margin: 0 auto;
}

.search {
  margin-top: 50px;
  position: relative;
}

.autocomplete {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.autocomplete li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: #eee;
}

.repositories {
  margin-top: 50px;
}

.repository {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.repository h3 {
  margin: 0;
}

.repository button {
  cursor: pointer;
}

#comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-form {
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
}

#comment-form form {
  display: flex;
  flex-direction: column;
}

#comment-form label {
  font-weight: bold;
}

#comment-form textarea {
  height: 100px;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.comment p {
  margin-left: 10px;
  flex-grow: 1;
}

.comment-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.comment-actions button {
  margin-bottom: 10px;
}