.container {
  max-width: 800px;
  margin: 0 auto;
}

.search {
  margin-top: 50px;
  position: relative;
}

.autocomplete {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.autocomplete li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: #eee;
}

.repositories {
  margin-top: 50px;
}

.repository {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.repository h3 {
  margin: 0;
}

.repository button {
  cursor: pointer;
}